<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiku11_15">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".AppClient"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Z_LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.Z_HLDGLActivity"/>
        <activity android:name=".activity.Z_CLWZActivity"/>
        <activity android:name=".activity.Z_CXJGActivity"/>
        <activity android:name=".activity.Z_JKZPActivity"/>
        <activity android:name=".activity.Z_JKZPActivity2"/>
        <activity android:name=".activity.Z_SHZSActivity"/>
        <activity android:name=".activity.Z_LKCXActivity"/>
        <activity android:name=".activity.Z_SJFXActivity"/>
    </application>

</manifest>